<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ravi Parsana. It uses data from MapBox.com and from Darksky.net to fetch the details regarding weather for a given location by the user.</p>
        <p>This application has been published live for users to view using Heroku. This is just a test application designed for learning NodeJS and using different API to communicate using NodeJS and to show the evaluated result to user.</p>
        <img class="portrait" src="/img/NodeJS.jpeg">
    </div>
    
    {{>footer}}


</body>

</html>